
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body, html {
  -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* height: 1500vh; */
    overflow-x: hidden;
  }




a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 

/* navbar style start  */

.main-nav {
  width: 100%;
  height: 8rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: transparent;
    /* background-color: #51c6DA; */
    background-color: #51c5dae8;
    position: fixed;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
  background: #000000;

}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.menu-link .link1 {
  color: white;
}

.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 8rem;
  display: grid;
  grid-template-columns: 3fr repeat(5, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3.5rem;
}

.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  /* color: rgba(0, 0, 3, 0.8); */
  transition: 0.5s;
  color: #000000;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: #ffffff;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
  cursor: pointer;
}

.social-media .hamburger-menu {
  display: none;
}



 .facebook, .instagram, .linkedin, .youtube, .twitter {
  color: #000000;
}

.icons {
  transition: 1s;

}

.icons:hover {
  transform: scale(1.3);
  color: #ffffff;
  z-index: 2;
  /* box-shadow: 2px 2px 2px #000;  */
} 


/* hero section   */

/* .hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url(https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=600); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 

}
*/

.hero-section {
  height: 100%;
  width: 100%; 
}

.hero-section video {
  height: 100%;
  width: 100%; 
  object-fit: cover;
  margin-top: 8rem;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,600;1,200;1,300;1,400;1,700&display=swap');


.hero-section p {
  font-size: 6rem;
  text-transform: capitalize;
  color: white;
  font-family: 'Mali', cursive;
  font-weight: 500;
  /* z-index: 8;
  font-family: Mali;
  height: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: normal;
  width: 122px;
 
  text-align: center;
  line-height: 5px;
  letter-spacing: 0px;
  font-weight: 300;
  /* font-size: 5px; 
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible; */

}

/* .hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
} */



.hero-section button {
  /* width: 32rem;
  padding: 20px ;
  color: white;
  font-size: 1.7rem;
  background-color: #51c6DA;
  border-radius: 20px;
  border: none;
  outline: none; *
  cursor: pointer;
  /* z-index: 10; */
  font-family: 'Send Flowers', cursive;
  font-weight: 200;
  background: #51c6DA;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 36px;
    letter-spacing: 0px;
    font-size: 20px;
    box-shadow: rgb(0 0 0 / 25%) 0px 7px 15px 0px;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    backdrop-filter: none;
    filter: brightness(100%);
    transform-origin: 50% 50%;
    /* opacity: 1; 
    transform: translate(0px, 0px);
    /* visibility: visible; */
    border-width: 0px;
    text-transform: capitalize; 
}

.hero-section button:hover {

transform: scale(1.1)


}
/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
}

@media (max-width: 1095px) {

  .hero-section video {
    height: 100%;
    width: 100%; 
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    top: 0%;
    margin: 0;
    padding: 0;
   
  }
  
  .hero-section p {
    font-size: 40px;
    text-transform: capitalize;
    color: white;
    font-weight: 100;
  }
  
  
  
  .hero-section button {
   padding: 5px 20px 5px 20px;
  }
  
  .hero-section button:hover {
  
  transform: scale(1.1)
  
  
  }
}

@media (max-width: 700px) {

  .hero-section video {
    height: 100%;
    width: 100%; 
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    top: 0%;
    margin: 0;
    padding: 0;
   
  }
  
  .hero-section p {
    font-size: 20px;
    /* padding: ; */
  }
  
  
  
  .hero-section button {
   padding: 0px 10px 0px 10px;
   font-size: 14px;
  }
  
  .hero-section button:hover {
  
  transform: scale(1.1)
  
  
  }
}

@media (max-width: 500px) {
 
  .hero-section {
    height: 100vh;

  }
  .hero-section video {
    height: 100vh;
    background-position: center;
  }
  

  
  }


/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }
  .hamburger-menu {
  color: #51c6DA;
}

  .social-media .hamburger-menu {
    display: block;
    font-size: .5rem;
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

  /* hero section  */

  .hero-section h1 {
    font-size: 3.8rem;
  }
}