* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grided-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns : repeat(3,1fr);
    grid-template-rows: repeat(2, 20vw);
    padding: 50px;
}

.giftext-container {
    display: flex;
    justify-content: center;
}

.giftext-container .gif img {
    width: 100px;
    color: #000000;
   
}

.giftext-container h1 {
    font-size: 2rem;
    color: #000000;
    font-weight: 900;
    padding-left: 50px;
}

.giftext-container p {
    font-size: 1.5rem;
    color: gray;
    font-weight: 600;
    margin-top: 20px;
    padding: 0px 50px;

}